<!DOCTYPE html>
<html lang="pt-br">

<head>

   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <!-- CSS only -->
   
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   <link href="css/myStyle.css" rel="stylesheet">
   
   <title> | Nobre Chá | </title>

</head>

<body>
<!-- **************************** NAVBAR **************************************** -->

   <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
         <div class="container">
            <a class="navbar-brand" href="/"><img class="myImg" src="logotipo.svg" alt="logotipo da marca"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                     <a class="nav-link" href="/404">Nobre Nós</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" th:href="${(#mvc.url('PC#listarProduto')).build()}">Produtos</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" th:href="${(#mvc.url('HC#contato')).build()}">Contatos</a>
                  </li>
               </ul>
               <form action="/busca" method="post">
                  <div class="input-group mb-3">
                     <input type="search" id="buscar" name="buscar" class="form-control" placeholder="Pesquisar por ..." aria-label="Recipient's username" aria-describedby="button-addon2">
                     <button class="btn btn-outline-secondary" type="submit" id="button-addon2" value="todos">pesquisar</button>
                  </div>
               </form>
            </div>
         </div>
      </nav>
   </header>
<!-- *************************************************** HERO ****************************************************** -->

      <div class="container">
         <div class="card-header" style="width: 18rem;">
            <div class="card-body">
               <h5 class="card-title">Fazer nova busca</h5>
               <form action="/busca" method="post">
                  <div class="input-group mb-3">
                     <input type="search" id="buscar" name="buscar" class="form-control" placeholder="Pesquisar por ..." aria-label="Recipient's username" aria-describedby="button-addon2">
                     <button class="btn btn-outline-secondary" type="submit" id="button-addon2" value="todos">pesquisar</button>
                  </div>
               </form>
            </div>
         </div>
         <h2> Resultado da Busca...</h2>
      <div class="album py-5 bg-light">
         <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
               <div class="col" th:each="produto: ${produtos}">
                  <div class="card shadow-sm" >
                     <img class="img-fluid rounded-start" alt="foto do produto" width="150px" height="250px"  th:src="|/${produto.img}|"/>
                     <div class="card-body">
                        <p class="card-text" th:text="${produto.nome}"></p>
                        <small class="text-muted" th:text="${'R$ '+produto.preco}"></small>
                        <div class="d-flex justify-content-between align-items-center">
                           <div class="btn-group">
                              <a  class="btn btn-sm btn-outline-secondary" th:href="${(#mvc.url('PC#detalheProduto').arg(0, produto.idproduto)).build()}" > Comprar >> </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
<!-- ******************************* EMAIL ************************************************************************* -->
      <div class="text-center border-bottom container-fluid">
         <h2>Cadastre seu e-mail e receba as nossas novidades de maneira fácil e rápida!</h2>
         <div class="input-group mb-3">
            
            <input type="text" class="form-control" placeholder="Seu email..." aria-label="Username" aria-describedby="basic-addon1">
            <span class="input-group-text" id="basic-addon1"><img class="conteudo_email__img" src="email-icone.png" alt="enviar"></span>
         </div>
      </div>
<!-- ***************************** FOOTER ************************************************************************** -->

   <footer class="text-muted py-5">

      <div class="container">
            <div class="row">
               <div class="col">
                  <div class="">
                     <a href="/"><img class="mb-1" src="logotipo-p.svg" alt="logotipo"></a>
                     <p> Chá Nobre possui envio para todo o Brasil.
                        Oferecemos o chá tradiconal , os modernos chás
                        gelados com o maximo de
                        sabor extraido da natureza.</p>
                  </div>
               </div>
               <div class="col">
                  <div class="container">
                     <h4>Produto</h4>
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item">Chá em sachê</li>
                        <li class="list-group-item">Chá Gelado</li>
                        <li class="list-group-item">Cápsulas</li>
                     </ul>
                  </div>
               </div>
               <div class="col">
                  <div class="container">
                     <h4>Atendimento</h4>
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item">Como Comprar</li>
                        <li class="list-group-item">Fale Conosco</li>
                        <li class="list-group-item">Privacidade</li>
                     </ul>
                  </div>
               </div>
               <div class="col">
                  <div class="container">
                     <h4>Segurança</h4>
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item">Formas de Pagamento</li>
                        <li class="list-group-item">Prazos de entrega</li>
                        <li class="list-group-item">Política de Segurança</li>
                     </ul>
                  </div>
               </div>
               <div class="col">
                  <div>
                     <img src="instagram.svg" alt="Instagram">
                     <img src="twitter.svg" alt="Twitter">
                     <img src="facebook.svg" alt="Facebook">
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item">Atendimento : 0800-001-001-001</li>
                        <li class="list-group-item">faleconosco@chanobre.com.br</li>
                        <li class="list-group-item">Vendas exclusivas pela internet</li>
                     </ul>
                  </div>
               </div>
            </div>
      </div>

   </footer>

   <!-- JavaScript Bundle with Popper -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
   </script>

</body>

</html>